*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: linear-gradient(to right, #201dea 0%, #eb466b 20%, #1dea5b 40%, #7d1dea 60%, #46afeb 80%, #cab15e 100%);
    font-size: 12px;
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


body,
button,
input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}

.background {
    display: flex;
    min-height: 100vh;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
}

.screen {
    position: relative;
    background: #3e3e3e;
    border-radius: 15px;
}

.screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}

.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: #4d4d4f;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.screen-header-left {
    margin-right: auto;
    position: relative;
}

.screen-header-button {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 3px;
    border-radius: 100%;
    background: white;
    position: relative;
    border: 1px solid #555555;
}

.screen-header-button.close {
    background: #ed1c6f;
}

.screen-header-button.maximize {
    background: #e8e925;
}

.screen-header-button.minimize {
    background: #74c54f;
}


.screen-header-right {
    display: flex;
    color: #bebebe;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    top: 10%;
    right: 1%;
    background: #4d4d4f;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown a {
    display: block;
    padding: 10px 20px;
    color: #e2e1e1;
    text-decoration: none;
    border-radius: 8px;
}

.dropdown a:hover {
    background: #bbbbbb;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    flex: 1;
    padding: 50px;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
}

.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: #ea1d6f;
}

.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}

.app-form-group {
    margin-bottom: 15px;
}

.app-form-group.message {
    margin-top: 40px;
}

.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1px solid #666;
    color: #888383;
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-control:focus {
    border-bottom-color: #ddd;
}

.app-form-button {
    background: none;
    border: none;
    color: #ea1d6f;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

.app-form-button:hover {
    color: #b9134f;
}

@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }

    .screen-body-item.left {
        margin-bottom: 30px;
    }

    .app-title {
        flex-direction: row;
    }

    .app-title span {
        margin-right: 12px;
    }

    .app-title:after {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }

    .screen-body-item {
        padding: 0;
    }
}

.social-media-links {
    bottom: 1px;
    margin-left: 7vw;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    background-color: #4b4b4b83;
    vertical-align: middle;
    border-radius: 15px;
    flex: 0 1 700px;
    padding: 10px;
    border: 1px solid rgb(33, 0, 85);
}

.social-svg {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background-color: #cacecbde;
    transition: all 0.5s ease-in-out;
}

.social-svg:hover {
    width: 48px;
    height: 48px;
    background-color: #f3efefde;
}

.social-svg-main {
    width: 41px;
    height: 41px;
    border-radius: 32%;
    transition: all 0.5s ease-in-out;
    border: 1px solid black;
    background-color: #807e7ea4;
    padding: 2px;
}

.social-svg-main:hover {
    width: 48px;
    height: 48px;
    background-color: #f3efefde;
}